<a href="https://colab.research.google.com/github/txusser/Master_IA_Sanidad/blob/main/Modulo_2/2_3_3_Preprocesado_y_estructuracion_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tema 2.3.3: Preprocesado y estructuración de datos

## Limpieza de datos

In [10]:
import pandas as pd
df = pd.read_csv("/stroke-data.csv")
print(df)
nans = df.isnull().values.any()
print("\n - Hay algún NaN en el dataset:", nans)
print("\n - Dime si hay un valor NaN en la fila/columna: \n",df.isna())

# Selecciona columnas que tengan un valor NaN
df_n = df[df.isna().any(axis=1)]
print("\n - Columnas con NaNs:\n", df_n)

# Eliminamos los valores NaN
df = df.dropna()
nans = df.isnull().values.any()
print("\n - Hay algún NaN en el dataset:", nans)
print("\n - Dataset limpio:", df)

         id  gender   age  ...   bmi   smoking_status stroke
0      9046    Male  67.0  ...  36.6  formerly smoked      1
1     51676  Female  61.0  ...   NaN     never smoked      1
2     31112    Male  80.0  ...  32.5     never smoked      1
3     60182  Female  49.0  ...  34.4           smokes      1
4      1665  Female  79.0  ...  24.0     never smoked      1
...     ...     ...   ...  ...   ...              ...    ...
5105  18234  Female  80.0  ...   NaN     never smoked      0
5106  44873  Female  81.0  ...  40.0     never smoked      0
5107  19723  Female  35.0  ...  30.6     never smoked      0
5108  37544    Male  51.0  ...  25.6  formerly smoked      0
5109  44679  Female  44.0  ...  26.2          Unknown      0

[5110 rows x 12 columns]

 - Hay algún NaN en el dataset: True

 - Dime si hay un valor NaN en la fila/columna:
          id  gender    age  ...    bmi  smoking_status  stroke
0     False   False  False  ...  False           False   False
1     False   False  False  ...   True           False   False
2     False   False  False  ...  False           False   False
3     False   False  False  ...  False           False   False
4     False   False  False  ...  False           False   False
...     ...     ...    ...  ...    ...             ...     ...
5105  False   False  False  ...   True           False   False
5106  False   False  False  ...  False           False   False
5107  False   False  False  ...  False           False   False
5108  False   False  False  ...  False           False   False
5109  False   False  False  ...  False           False   False

[5110 rows x 12 columns]

 - Columnas con NaNs:
          id  gender   age  ...  bmi   smoking_status stroke
1     51676  Female  61.0  ...  NaN     never smoked      1
8     27419  Female  59.0  ...  NaN          Unknown      1
13     8213    Male  78.0  ...  NaN          Unknown      1
19    25226    Male  57.0  ...  NaN          Unknown      1
27    61843    Male  58.0  ...  NaN          Unknown      1
...     ...     ...   ...  ...  ...              ...    ...
5039  42007    Male  41.0  ...  NaN  formerly smoked      0
5048  28788    Male  40.0  ...  NaN           smokes      0
5093  32235  Female  45.0  ...  NaN           smokes      0
5099   7293    Male  40.0  ...  NaN           smokes      0
5105  18234  Female  80.0  ...  NaN     never smoked      0

[201 rows x 12 columns]

 - Hay algún NaN en el dataset: False

 - Dataset limpio:          id  gender   age  ...   bmi   smoking_status stroke
0      9046    Male  67.0  ...  36.6  formerly smoked      1
2     31112    Male  80.0  ...  32.5     never smoked      1
3     60182  Female  49.0  ...  34.4           smokes      1
4      1665  Female  79.0  ...  24.0     never smoked      1
5     56669    Male  81.0  ...  29.0  formerly smoked      1
...     ...     ...   ...  ...   ...              ...    ...
5104  14180  Female  13.0  ...  18.6          Unknown      0
5106  44873  Female  81.0  ...  40.0     never smoked      0
5107  19723  Female  35.0  ...  30.6     never smoked      0
5108  37544    Male  51.0  ...  25.6  formerly smoked      0
5109  44679  Female  44.0  ...  26.2          Unknown      0

[4909 rows x 12 columns]